﻿nav {  
    position: absolute;  
    left: 0;  
    width: 100%;   
}  

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
}  

nav ul li {  
    float: left;  
}  
  
  
    nav ul li a {
        display: block;  
        margin-right: 2px;  
        width: 120px;  
        font-size: 18px;  
        line-height: 50px;  
        text-align: center;  
        text-decoration: none;  
        color: #000000;  
    }
	
	nav ul li a:hover {  
            color: #fff;  
			
        }  
  
        nav ul li.selected a {  
            color: #fff;  
        }  
  
        nav ul li.subscribe a {  
            margin-left: 1px;  
            padding-left: 20px;  
            text-align: left;  
        }  
		 