﻿body { 
    margin: 0 auto; 
    width: 1000px;  
    font: 16px  JasmineUPC, Arial, sans-serif; 
    line-height: 22px;  
    padding: 5px 0;
    color: #808080;
}


h1 { 
    color: #000000;
    font: 13px/22px GeorgesNotes, Arial, sans-serif;
    font-size: 100px;  
    line-height: 10px;
}  

h2 {  
    font: 13px/20px Candara, Arial, sans-serif;
    font-size: 30px;  
    line-height: 44px;  
    padding: 22px 0;
}  

h3 { 
    font: 13px/20px MV Boli, Arial, sans-serif;
    font-size: 36px;  
    line-height: 44px;  
    padding: 22px 0; 
    color: #808080;
}

h4{
    font: 13px/20px Musicelements, Arial, sans-serif;
    font-size: 80px;  
    line-height: 20px;
}	

h5{
    font: 13px/22px Arial, Arial, sans-serif;
    color: red;
    font-size: 22px;  
    line-height: 16px;  
    padding: 5px 0; 
}

h6{
   font: 13px/20px MV Boli, Arial, sans-serif;
    font-size: 20px;  
    line-height: 44px;  
    padding: 22px 0; 
    color: #808080;
}


.cssColumn1 {

    width: 200px;
    height: 10px;


}



.cssColumn2 {

    width: 180px;

}

.cssColumn3 {

    width: 120px;

}



.cssColumn4 {

    width: 60px;

}

.cssColumn5 {

    width: 1000px;


}



.cssColumn6 {

    width: 100px;

}

.cssColumn7 {

    width: 100px;

}



.cssColumn8 {

    width: 200px;

}