<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./style/css/nav.css" rel="stylesheet" type="text/css" />
        <link href="./style/css/background.css" rel="stylesheet" type="text/css" />
        <link href="./style/css/post.css" rel="stylesheet" type="text/css" />
        <link href="./style/css/style.css" rel="stylesheet" type="text/css" />
    </h:head>

    <h:body>

        <div id="top" class="top">
            <ui:insert name="top">
                <f:view>
                <h:form>
                    <header>  
                       <h1>Sure</h1>
                    </header>
                    <nav>
                        <ul>  
                            <li><h:commandLink action="index"><h2>Home</h2></h:commandLink></li>
                            <li><h:commandLink action="musicas"><h2>Músicas</h2></h:commandLink></li>
                            <li><h:commandLink action="nivel"><h2>Níveis</h2></h:commandLink></li>
                            <br/>
                        </ul>
                    </nav>
                </h:form>
            </f:view>
            </ui:insert>
            
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">
               
            </ui:insert>
        </div>

    </h:body>

</html>
