<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Músicas por Nome</title>
    </h:head>
    <ui:composition template="newTemplate.xhtml">

        <ui:define name="content">
            <h:body> 
                <h:form>
                    <p:dataTable value="#{musicaBean.listaNivel}" var="m" style="margin-bottom: 100px"> 
                        <f:facet name="header">
                            <h4>s</h4>
                            <p:commandButton action="novo" value="Adicionar Nova" actionListener="#{musicaBean.prepararAdicionarMusica(actionEvent)}" />
                            <h:outputText value="    Ordenar por:"/>
                            <p:commandButton action="musicas" value="Nome" />
                            <p:commandButton action="nível" value="Nivel" />
                        </f:facet>
                        <p:column headerText="Nome da música" width ="300" >
                            <h:outputText value="#{m.nome}" />
                        </p:column> 

                        <p:column headerText="Nível" width="60" >
                            <h:outputText value="#{m.nivel}" />
                        </p:column> 
                        <p:column headerText="Autor" width="150" >
                            <h:outputText value="#{m.autor}" />
                        </p:column> 
                        <p:column headerText="Ano" width="50">
                            <h:outputText value="#{m.ano}" />
                        </p:column> 
                        <p:column headerText="Gênero" width="150">
                            <h:outputText value="#{m.genero}" />
                        </p:column> 
                        <p:column width="130">
                            <f:facet name="header"><h:outputText value="Ações" style="size:300px" /></f:facet> 
                            <p:commandButton action="partitura" icon="ui-icon-document" title="Visualizar" actionListener="#{musicaBean.visualizarPartitura(actionEvent)}" />
                            <p:commandButton action="alterar" icon="ui-icon-pencil" title="Editar" actionListener="#{musicaBean.prepararMusica(actionEvent)}"/> 
                            <p:commandButton action="remover" icon="ui-icon-trash" title="Remover" actionListener="#{musicaBean.prepararMusica(actionEvent)}" /> 

                        </p:column>

                    </p:dataTable> 
                </h:form> 
            </h:body>
        </ui:define>
    </ui:composition>
</html>

