<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Exibição de Partitura</title>
    </h:head>
    <ui:composition template="newTemplate.xhtml">

        <ui:define name="content">
            <h:body>
                <object classid="CLSID:07000E2B-6AAD-497D-8E5B-5976560AD429" border="0" height="400" width="300">
                    <param name="src" value="#{musicaBean.partitura}" />
                    <param name="width" value="500" />
                    <param name="height" value="700" />
                    <param name="type" value="application/x-myriad-music" />
                    <param name="pluginspage" value="http://www.myriad-online.com/cgi-bin/mmplug.pl" />
                    <embed src="#{musicaBean.partitura}"
                           width="900"
                           height="800"
                           type="application/x-myriad-music"
                           pluginspage="http://www.myriad-online.com/cgi-bin/mmplug.pl">
                    </embed>
                </object>
                <h:form id="form">
                    <p:commandButton action="musica" value="Voltar"/>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>

