<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Resultado</title>
    </h:head>
    <ui:composition template="newTemplate.xhtml">

        <ui:define name="content">
            <h:body> 
                <h:form> 
                    <h4>h</h4>
                       <h3>Sucesso!</h3>
                    <p:panelGrid columns="2" style="margin-bottom: 100px">
                        A música <b><i> #{musicaBean.musica.nome}</i> </b> foi classificada com o <b> nível #{musicaBean.musica.nivel} </b>
                        <p:commandButton action="musicas" value="Continuar" /> 
                    </p:panelGrid>
                </h:form> 
            </h:body>
        </ui:define>
    </ui:composition>
</html>
